USE [master]
GO
/****** Object:  Database [setUp]    Script Date: 2019/12/2 12:17:25 ******/
CREATE DATABASE [setUp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'setUp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\setUp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'setUp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\setUp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [setUp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [setUp]
GO
/****** Object:  User [cse4471]    Script Date: 2019/12/2 12:17:25 ******/
CREATE USER [cse4471] FOR LOGIN [cse4471] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 2019/12/2 12:17:25 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [cse4471]
GO
ALTER ROLE [db_datareader] ADD MEMBER [cse4471]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [cse4471]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [admin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[LoginInfo]    Script Date: 2019/12/2 12:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginInfo](
	[UserKey] [nchar](500) NOT NULL,
	[UserName] [varchar](25) NOT NULL,
	[Password] [varchar](25) NULL,
 CONSTRAINT [PK_LoginInfo] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalInformation]    Script Date: 2019/12/2 12:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalInformation](
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[PhoneNumber] [nchar](10) NULL,
	[UserName] [varchar](25) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LoginInfo] ([UserKey], [UserName], [Password]) VALUES (N'31479440252208841774839265268216512915557365329506229865177313174700711327471555987666273602936135314059536762167237420357076140127062440523094621113425221506918606512561225397049756078703714092151654862834119264754407243932068318076316558889948166196202336052688560824491435102909923683149169431394013673132449598586034560581734713680647191974086781889023951666869281734711917256667854593286402950407616984798710825224750159021665279397297950386181792534393372672433787702672759777913724164653861148', N'a', N'aa')
INSERT [dbo].[LoginInfo] ([UserKey], [UserName], [Password]) VALUES (N'37362183587242316478255550765064800476539875491761459212493339289223671489687999548614986544234161036488191764768648394331143929005278853102460616983944285753025972583814816443662027699482242152338257350287543535910039692517444630631459441468015360699564612975203457621183789339011310986728036880665742257638122266790835348581457810973757394867525779138482583395287675117353282823848441700031308690001702975413293996147051214042309674053172178547113683752935061787403553728647997421626037737849216208', N'b', N'bb')
INSERT [dbo].[LoginInfo] ([UserKey], [UserName], [Password]) VALUES (N'80915177035063202291007244697325487612490579421143340151625353601595258919301633622971554687198984238659664301489992435227885905170437429086031087424267306129481504976147206399597531719436950426924777003085170901848383094450514905540087394458157121325040920207026628746157475580782032494383631585607850462900901048156185671826679330597002728634631037944699439422682838281544629099142138509969711455781936693313198043514123068142783644965209368217725129104659297259232768989403692977872285524942584147', N'c', N'cc')
INSERT [dbo].[PersonalInformation] ([FirstName], [LastName], [PhoneNumber], [UserName]) VALUES (N'Wei', N'Yu', N'1233214751', N'a')
INSERT [dbo].[PersonalInformation] ([FirstName], [LastName], [PhoneNumber], [UserName]) VALUES (N'AJ', N'White', N'2584644263', N'b')
INSERT [dbo].[PersonalInformation] ([FirstName], [LastName], [PhoneNumber], [UserName]) VALUES (N'Austin', N'Black', N'1651651984', N'c')
USE [master]
GO
